.container-cards {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}

.flip-card {
  position: relative;
  width: 400px;
  height: 180px;
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.4s ease-in-out;
  background-color: white;
  color: rgb(58, 57, 57);
  margin: 25px;
}

.flip-card:hover {
  cursor: pointer;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
}

.header-card {
  font-size: 75%;
  font-weight: 700;
}

.box-back {
  padding: 0 15px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.img-card-back {
  width: 200px;
  height: 70px;
  margin-left: 15px;
  margin-top: 20px;
  object-fit: scale-down;
}

.box-logos {
  margin-top: 15px;
}

.logos {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding-left: 10px;
  color: rgb(36, 36, 90);
}

.logos:hover {
  color: grey;
}

.container-desc {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 5px;
}
