@use "../../style/variables";
.projects {
  width: 100%;

  background: linear-gradient(
    115deg,
    variables.$backgroundColor-1 30%,
   variables.$backgroundColor-2 70%
  );
  min-height: 90vh;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  clip-path: polygon(0% 5%, 100% 0, 100% 100%, 0% 100%);

  h2{
    color: variables.$primary-color;
    padding-top: 5rem;
  }

}
