.toggle-button {
  display: none;
}

.toggle-button:focus {
  outline: none;
}
/* .toggleButton-line {
  width: 30px;
  height: 2px;
  background: white;
} */

@media only screen and (max-width: 1190px) {
  .toggle-button {
    
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
}
