@use "../../style/variables";


.about {
    min-height: 87vh;
    background: variables.$primary-color;
    width: 100%;
    padding: 0;

    h2{
        padding-bottom: 1rem;
    }
}

.box-about {
    display: flex;
    font-size: 70%;
    justify-content: center;
    gap: 50px;
}

.about-desc {
    text-align: left;
    line-height: 1.5;
    font-size: 100%;
    font-weight: 500;
}

@media (max-width: 800px) {
    .box-about {
        display: block;
        font-size: 60%;
        justify-content: center;
        padding: 5%;
    }

    .about-desc {
        width: 80%;
        margin-top: 5%;
        text-align: center;
        line-height: 1.5;
        font-size: 90%;
    }
}