.about {
  background: rgb(255, 255, 255);
}

.box-about {
  display: flex;
  font-size: 70%;
  justify-content: center;
}

.about-desc {
  width: 30%;
  text-align: justify;
  margin-left: 50px;
  line-height: 1.5;
  font-size: 90%;
}
