.about {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 0;

    h2{

        padding-bottom: 1rem;
    }
}

.box-about {
    display: flex;
    font-size: 70%;
    justify-content: center;
}

.about-desc {
    width: 30%;
    text-align: justify;
    margin-left: 50px;
    line-height: 1.5;
    font-size: 90%;
}

@media (max-width: 800px) {
    .box-about {
        display: block;
        font-size: 60%;
        justify-content: center;
        padding: 5%;
    }

    .about-desc {
        width: 80%;
        margin-top: 5%;
        text-align: center;
        line-height: 1.5;
        font-size: 90%;
    }
}