@use '../../style/variables';
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
                  115deg,
                  rgb(10, 108, 219) 30%,
                  rgb(12, 171, 219) 70%
  );
  height: calc(100vh - 4rem);
  color: variables.$primary-color;


  .container__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top:  5%;
    line-height: .5;
    font-weight: 700;

  .image-header {
    margin: 0 auto;
    height: auto;
    width: 30rem;
    object-fit: cover;
  }

    .textLoop{
     margin: 0 auto;
    }


}


@media (max-width: 700px) {
  .box-text {
    font-size: 90%;
    font-weight: 800;
  }
}}


