@use '../../style/variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
                  175deg,
                  variables.$backgroundColor-1 30%,
                  variables.$backgroundColor-2 80%
  );
  height: calc(100vh - 4rem);
  color: variables.$primary-color;


  .container__header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: .5;
    font-weight: 700;

  }

  .image-header {
    width: 30rem;
    object-fit: cover;
  }

  .textLoop {
    margin: 0;
  }


  @media (max-width: 700px) {
    .box-text {
      font-size: 90%;
      font-weight: 800;
    }
  }
}