.nav {
  position: sticky;
  display: flex;
  top: 0;
  height: 4rem;
  width: 100%;
  z-index: 10;
  padding: 0;
  background-color: rgb(38, 38, 70);

  .navbar__container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 3rem;
    padding-top: 0.5rem;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    margin: auto 0;

    .container-logos {
      width: 4rem;
      display: flex;
      justify-content: space-between;
      margin-left: 3rem;

      .logos-nav {
        font-size: 1.7rem;
        padding-top: 0.7rem;
        color: white;
      }

      .logos-nav:hover {
        color: gray;
      }
    }

    button {
      font-size: 80%;
      font-weight: 600;
      margin: 0 1rem;
      cursor: pointer;
      background-color: gray;
      display: inline-block;
      position: relative;
      background: none;
      border: none;
      color: aliceblue;

      background: transparent;
    }

    span {
      display: block;
      padding: 10px 20px;
    }

    button::before,
    button::after {
      content: "";
      width: 0;
      height: 3px;
      position: absolute;
      transition: all 0.7s linear;
      background: #fff;
    }

    span::before,
    span::after {
      content: "";
      width: 3px;
      height: 0;
      position: absolute;
      transition: all 0.7s linear;
      background: #fff;
    }

    button:hover::before,
    button:hover::after {
      width: 100%;
    }

    button:hover span::before,
    button:hover span::after {
      height: 100%;
    }

    .btn-4::after {
      right: 0;
      bottom: 0;
      transition-duration: 0.5s;
    }

    .btn-4 span::after {
      right: 0;
      bottom: 0;
      transition-duration: 0.5s;
    }

    .btn-4::before {
      left: 0;
      top: 0;
      transition-duration: 0.5s;
    }

    .btn-4 span::before {
      left: 0;
      top: 0;
      transition-duration: 0.5s;
    }


  }


}

/* BUTTON NAV */

