@use "../../style/variables";

.nav {
  position: sticky;
  display: flex;
  top: 0;
  height: 4rem;
  width: 100%;
  z-index: 10;
  padding: 0;
  background-color: variables.$secondaryColor;

  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 5rem;
    cursor: pointer;
    object-fit: scale-down;
    margin: auto 0;
  }

  .nav-links {
    display: flex;
    align-items: center;

    .container-logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 2rem;

      .logos-nav {
        font-size: 1.8rem;
        padding: 0 0.7rem;
        color: variables.$primary-color;
      }

      .logos-nav:hover {
        color: gray;
      }
    }


    .nav__link {
      @include variables.magic-border(4px, variables.$primary-color, 0.2s, 0);
      padding: 0.5rem;
      font-size: 1.2rem;
      font-weight: 700;
      margin: auto 0.6rem;
      cursor: pointer;
      display: inline-block;
      position: relative;
      background: none;
      border: none;
      color: variables.$primary-color;
      background: transparent;
    }

    .active {
      background: variables.$primary-color;
      color: variables.$secondaryColor;
      transition: all 0.6s;
    }
  }
}

