.nav {
  position: fixed;
  display: flex;
  padding: 0%  0%;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 80%;
  background-color: rgb(38, 38, 70)
  ;
 
  
}

.nav .logo {
  height: 50px;
  margin-left: 50px;
  cursor: pointer;
}

.nav .nav-links {
  display: flex;
  width: 100%;
  color: whitesmoke;

  
  flex-wrap: wrap;
  
  
justify-content: flex-end;
 

  
  
}

.nav .nav-links button {
  font-size: 80%;
  font-weight: 700;
  cursor: pointer;
  background-color: gray;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
  margin: 5px 10px;
  background: transparent;
}




span{
  display: block;
  padding: 10px 20px;
  
}
button::before, button::after{
  content:"";
  width: 0px;
  height: 3px;
  position: absolute;
  transition: all 0.7s linear;
  background: #fff;
  
}


span::before, span::after{
  content:"";
  width:3px;
  height:0;
  position: absolute;
  transition: all 0.7s linear;
  background: #fff;
  
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
  
}


.btn-4::after{
  right:0;
  bottom: 0;
  transition-duration: 0.5s;
  
}
.btn-4 span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.5s;
}
.btn-4::before{
  left: 0;
  top: 0;
  transition-duration: 0.5s;
}
.btn-4 span::before{
  left: 0;
  top: 0;
  transition-duration: 0.5s;
}
