@use "../../style/variables";
.footer {
    background-color: variables.$secondaryColor;
    padding: 1.5rem 0;




.footer__container{
    display: flex;
    margin: 0 auto;
    width: 5rem;
    justify-content: space-around;

    a{
        font-size: 1.8rem;
        color: variables.$primary-color;
    }
    a:hover{
        color: variables.$hoverColor;
    }
}

    .footer-name {
        font-size: 15px;
        font-weight: 500;
        outline: none;
        color: variables.$primary-color;

    }


}
