.footer {
    background-color: rgb(38, 38, 70);
    padding: 1.5rem 0;

    a {
        color: white;
    }

    .footer-name {
        font-size: 15px;
        color: whitesmoke;
        font-weight: 500;
        outline: none;

    }


}
