* {
    box-sizing: content-box;
}

.App {
    text-align: center;
    font-size: 25px;
}



h2{
    padding-top: 1.5rem;
}

p{
   margin-top: 0;
    margin-bottom: 1rem;
}

.App-link {
    color: #61dafb;
}
