.App {
  text-align: center;
  font-size: 25px;
  
}

section{
  
  padding: 5% 0%;
}

h2 {
  padding-bottom: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

