html body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    font-weight: 400;
    color: rgb(10, 53, 90);
}



.container{
    width: calc(100% - 60px);
    max-width: 1080px;
    margin: 0 auto;
}